* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'stack';
  height: 100%;
  min-height: 100vh;
  background-size: 1rem 1rem;
  background-image: radial-gradient(#999 5%, transparent 0);
}

canvas {
  border: 1px solid #000;
  display: grid;
  place-self: center;
}
